@model ManualQuery.Models.ViewModels.EmployeeModel

<h2>@Model.Title</h2>

<div class="row">
    <div class="col-md-7">
        <form method="post">
            <input class="form-control" type="hidden" name="Employee.EmployeeId" value="@Model.Employee.EmployeeId" />

            <label>Name</label>
            <input class="form-control" type="text" name="Employee.Name" value="@Model.Employee.Name" />

            <label>Surname</label>
            <input class="form-control" type="text" name="Employee.Surname" value="@Model.Employee.Surname" />

            <label>Salary</label>
            <input class="form-control" type="text" name="Employee.Salary" value="@Model.Employee.Salary" />

            <label>Degree</label>
            <select class="form-control" name="Employee.DegreeId">
                @foreach (var item in Model.DegreeList)
                {
                    if (item.DegreeId == Model.Employee.DegreeId)
                    {
                        <option style="color:red" value="@item.DegreeId" selected>@item.DegreeName</option>
                    }
                    else
                    {
                        <option value="@item.DegreeId">@item.DegreeName</option>
                    }
                }
            </select>

            <label>Country</label>
            <select class="form-control" name="Employee.CountryId">
                @foreach (var item in Model.CountryList)
                {
                    if (item.CountryId == Model.Employee.CountryId)
                    {
                        <option style="color:red" value="@item.CountryId" selected>@item.CountryName</option>
                    }
                    else
                    {
                        <option value="@item.CountryId">@item.CountryName</option>
                    }
                }
            </select>

            <label>Residence</label>
            <select class="form-control" name="Employee.NatId">
                @foreach (var item in Model.NatList)
                {
                    if (item.CountryId == Model.Employee.CountryId)
                    {
                        <option style="color:red" value="@item.CountryId" selected>@item.CountryName</option>
                    }
                    else
                    {
                        <option value="@item.CountryId">@item.CountryName</option>
                    }
                }
            </select>

            <label>Manager</label>
            <select class="form-control" name="Employee.ManagerId">
                @foreach (var item in Model.ManagerList)
                {
                    if (item.EmployeeId == Model.Employee.EmployeeId)
                    {
                        <option style="color:red" value="@item.EmployeeId" selected>@item.Name</option>
                    }
                    else
                    {
                        <option value="@item.EmployeeId">@item.Name</option>
                    }
                }
            </select>

            <br />

            <input class="@Model.BtnClass" type="submit" value="@Model.BtnVal"/>

            <input class="btn btn-warning" type="submit" value="Cancel" formaction="/Employee/List"/>

        </form>
    </div>
</div>
