@model IEnumerable<SimpleCore.Models.Classes.City>

@{
    ViewData["Title"] = "List";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<h1>Cities List</h1>

<p>
    <a class="btn btn-primary" asp-action="Create">Add</a>
</p>

<table class="table">
    <thead>
        <tr>
            <th>
                Id
            </th>
            <th>
                City Name
            </th>
             <th>
                Picture
            </th>
        </tr>
    </thead>
    <tbody>
        @foreach (var item in Model)
        {
            <tr>
                <td>
                    @item.CityId
                </td>
                <td>
                    @item.CityName
                </td>
                <td>
                    <img src="@item.Picture" width="120px" />
                </td>
                <td>
                    <a class="btn btn-success" asp-action="Edit" asp-route-id="@item.CityId">Edit</a> |
                    <a class="btn btn-danger" asp-action="Delete" asp-route-id="@item.CityId">Delete</a>
                </td>
            </tr>
        }
    </tbody>
</table>
