@model DataModel_EF.Models.ViewModels.CountryModel

@{
    Layout = "~/Views/Shared/_LayoutPage.cshtml";
}

<br />
<h2>@Model.Title</h2>

<div class="row">
    <div class="col-md-5">
        <form method="post">
            <input type="@Model.Type" class="form-control" name="CountryId" value="@Model.Country.CountryId"/>
            <br />
            <input type="text" class="form-control" name="CountryName" value="@Model.Country.CountryName"/>
            <br />
            <input type="submit" class="@Model.BtnClass" value="@Model.BtnVal"/>
            <input type="submit" class="btn btn-warning" value="Cancel" formaction="/Country/List"/>
            <br />
        </form>
    </div>
</div> 
